body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    color: antiquewhite;
    font-size: 3rem;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "libre baskerville", serif;
    text-align: center;
}
.motivation{
    border: 5px solid white;
    width: 100%;
}